version: '3.8'

services:

 mysql:
   image: mysql:8
   container_name: mysql
   environment:
     MYSQL_ROOT_PASSWORD: root
   volumes:
     - mysql_data:/var/lib/mysql
     - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
   ports:
     - "3306:3306"

 app:
   build: ./app
   container_name: app
   depends_on:
     - mysql
   environment:
     SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/resume_db
     SPRING_DATASOURCE_USERNAME: root
     SPRING_DATASOURCE_PASSWORD: root

 nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:81"  # Maps Host Port 80 to Container Port 81
    volumes:
      - ./nginx/nw-ngnx.conf:/etc/nginx/sites-available/nw-ngnx.conf
    depends_on:
      - app
    command: >
      /bin/sh -c "mkdir -p /etc/nginx/sites-enabled && 
                  ln -s /etc/nginx/sites-available/nw-ngnx.conf /etc/nginx/sites-enabled/nw-ngnx.conf &&
                  sed -i '/http {/a \    include /etc/nginx/sites-enabled/*;' /etc/nginx/nginx.conf &&
                  nginx -g 'daemon off;'"


volumes:
 mysql_data:
